.custom-scroll {
  max-height: 80vh;
  overflow-y: auto;
}

.custom-scroll-reviews {
  max-height: 50vh;
  overflow-y: auto;
}

.div-logo-dashboard {
  position: relative;
}

.change-icon-absolute {
  position: absolute;
  top: 5%;
  right: 15%;
}
