.pulse-infinite {
  animation: pulsazione 2s ease-in-out infinite;
}

.icon-black {
  color: black;
}

@keyframes pulsazione {
  0% {
    transform: scale(1);
    color: rgb(248, 196, 99);
  }
  50% {
    transform: scale(1.2);
    color: orange;
  }
  100% {
    transform: scale(1);
  }
}

.imgUser-request {
  height: 30rem;
}
